*{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height: 100vh ;
    background: black;
    padding: 20px;
}
.TO-DO{
    width:100%;
    max-width: 500px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    background: white;
    margin: 100px auto 20px;
}
.TO-DO h2{
    color: palevioletred;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.TO-DO h2 img{
    width :40px;
    margin-left: 10px;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    padding-left: 20px;
    background: whitesmoke;
    border-radius: 20px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    font-weight: bold;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 40px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background: palevioletred;
    font-size: 15px;
}
ul li{
    list-style: none;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    padding: 12px 8px 12px 50px;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(image/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}
ul li.checked{
    color: black;
    text-decoration: line-through;
}
ul li.checked::before{
     background-image: url(image/checked.png); 
}
ul li span{
    position: absolute;
    right: 0;
    top:8px;
    width :40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    color: red
}